In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("mental_health_workplace_survey.csv")

In [4]:
df.head(6)

,EmployeeID,Age,Gender,Country,JobRole,Department,YearsAtCompany,WorkHoursPerWeek,RemoteWork,BurnoutLevel,...,CommuteTime,HasMentalHealthSupport,ManagerSupportScore,HasTherapyAccess,MentalHealthDaysOff,SalaryRange,WorkLifeBalanceScore,TeamSize,CareerGrowthScore,BurnoutRisk
0,1001,50,Male,UK,Sales Associate,HR,14,47,No,3.37,...,117,No,3.15,Yes,8,40K-60K,8.82,6,9.20,0
1,1002,36,Male,Germany,Software Engineer,IT,1,59,Hybrid,7.39,...,8,Yes,4.40,Yes,4,80K-100K,2.80,45,8.46,1
2,1003,29,Non-binary,India,IT Admin,IT,13,59,Hybrid,7.10,...,75,No,3.63,No,6,80K-100K,7.28,7,7.96,1
3,1004,42,Male,Australia,HR Specialist,IT,15,31,Yes,4.18,...,43,Yes,4.50,Yes,9,60K-80K,1.31,11,8.90,0
4,1005,40,Male,Brazil,Customer Support,Support,6,34,Yes,8.28,...,58,Yes,5.51,Yes,6,<40K,1.17,18,8.88,1
5,1006,44,Prefer not to say,Germany,Project Manager,Support,3,58,Hybrid,3.12,...,23,Yes,2.56,No,6,40K-60K,5.06,38,4.32,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EmployeeID              3000 non-null   int64
 1   Age                     3000 non-null   int64
 2   Gender                  3000 non-null   object
 3   Country                 3000 non-null   object
 4   JobRole                 3000 non-null   object
 5   Department              3000 non-null   object
 6   YearsAtCompany          3000 non-null   int64
 7   WorkHoursPerWeek        3000 non-null   int64
 8   RemoteWork              3000 non-null   object
 9   BurnoutLevel            3000 non-null   float64
 10  JobSatisfaction         3000 non-null   float64
 11  StressLevel             3000 non-null   float64
 12  ProductivityScore       3000 non-null   float64
 13  SleepHours              3000 non-null   float64
 14  PhysicalActivityHrs     3000 non-null   float64
 15  CommuteTime             3000 non-null   int64
 16  HasMentalHealthSupport  3000 non-null   object
 17  ManagerSupportScore     3000 non-null   float64
 18  HasTherapyAccess        3000 non-null   object
 19  MentalHealthDaysOff     3000 non-null   int64
 20  SalaryRange             3000 non-null   object
 21  WorkLifeBalanceScore    3000 non-null   float64
 22  TeamSize                3000 non-null   int64
 23  CareerGrowthScore       3000 non-null   float64
 24  BurnoutRisk             3000 non-null   int64
dtypes: float64(9), int64(8), object(8)
memory usage: 586.1+ KB

In [6]:
categorical_columns = ['Department', 'Country', 'Gender', 'JobRole', 'RemoteWork', 'HasTherapyAccess', 'HasMentalHealthSupport', 'SalaryRange']
df_encoded = pd.get_dummies(df, columns=categorical_columns)

In [7]:
from sklearn.preprocessing import StandardScaler
numerical_cols = df_encoded.select_dtypes(include=['int64', 'float64']).columns
scaler = StandardScaler()
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

In [10]:
from sklearn.model_selection import train_test_split
X = df_encoded.drop('BurnoutRisk', axis=1)
y = df_encoded['BurnoutRisk']
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X, y, test_size=0.25, random_state=2)

In [11]:
df.head()

,EmployeeID,Age,Gender,Country,JobRole,Department,YearsAtCompany,WorkHoursPerWeek,RemoteWork,BurnoutLevel,...,CommuteTime,HasMentalHealthSupport,ManagerSupportScore,HasTherapyAccess,MentalHealthDaysOff,SalaryRange,WorkLifeBalanceScore,TeamSize,CareerGrowthScore,BurnoutRisk
0,1001,50,Male,UK,Sales Associate,HR,14,47,No,3.37,...,117,No,3.15,Yes,8,40K-60K,8.82,6,9.20,0
1,1002,36,Male,Germany,Software Engineer,IT,1,59,Hybrid,7.39,...,8,Yes,4.40,Yes,4,80K-100K,2.80,45,8.46,1
2,1003,29,Non-binary,India,IT Admin,IT,13,59,Hybrid,7.10,...,75,No,3.63,No,6,80K-100K,7.28,7,7.96,1
3,1004,42,Male,Australia,HR Specialist,IT,15,31,Yes,4.18,...,43,Yes,4.50,Yes,9,60K-80K,1.31,11,8.90,0
4,1005,40,Male,Brazil,Customer Support,Support,6,34,Yes,8.28,...,58,Yes,5.51,Yes,6,<40K,1.17,18,8.88,1

In [19]:
from sklearn.tree import DecisionTreeRegressor
Decision = DecisionTreeRegressor(random_state=4)
Decision.fit(X_train_1,y_train_1)
Decision_pred_1 = Decision.predict(X_test_1)

In [20]:
from sklearn.ensemble import RandomForestRegressor
Random = RandomForestRegressor(random_state=4)
Random.fit(X_train_1,y_train_1)
Random_pred_1 = Random.predict(X_test_1)

In [21]:
from sklearn.neighbors import KNeighborsRegressor
KNN = KNeighborsRegressor(n_neighbors=5)
KNN.fit(X_train_1,y_train_1)
KNN_pred_1 = KNN.predict(X_test_1)

In [22]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import mutual_info_regression
mi_scores = mutual_info_regression(X_train_1, y_train_1)
mi_df = pd.DataFrame({
    'Feature': X_train_1.columns,
    'MI Score': mi_scores
})
mi_df = mi_df.sort_values(by='MI Score', ascending=False)
Important_features = mi_df['Feature'].head(10).tolist()
print("Important_features:",Important_features)

Important_features: ['BurnoutLevel', 'HasTherapyAccess_Yes', 'HasMentalHealthSupport_No', 'JobRole_Marketing Manager', 'SalaryRange_100K+', 'Department_Support', 'Country_Germany', 'Gender_Male', 'RemoteWork_Hybrid', 'RemoteWork_Yes']

In [23]:
df.head()

,EmployeeID,Age,Gender,Country,JobRole,Department,YearsAtCompany,WorkHoursPerWeek,RemoteWork,BurnoutLevel,...,CommuteTime,HasMentalHealthSupport,ManagerSupportScore,HasTherapyAccess,MentalHealthDaysOff,SalaryRange,WorkLifeBalanceScore,TeamSize,CareerGrowthScore,BurnoutRisk
0,1001,50,Male,UK,Sales Associate,HR,14,47,No,3.37,...,117,No,3.15,Yes,8,40K-60K,8.82,6,9.20,0
1,1002,36,Male,Germany,Software Engineer,IT,1,59,Hybrid,7.39,...,8,Yes,4.40,Yes,4,80K-100K,2.80,45,8.46,1
2,1003,29,Non-binary,India,IT Admin,IT,13,59,Hybrid,7.10,...,75,No,3.63,No,6,80K-100K,7.28,7,7.96,1
3,1004,42,Male,Australia,HR Specialist,IT,15,31,Yes,4.18,...,43,Yes,4.50,Yes,9,60K-80K,1.31,11,8.90,0
4,1005,40,Male,Brazil,Customer Support,Support,6,34,Yes,8.28,...,58,Yes,5.51,Yes,6,<40K,1.17,18,8.88,1